{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'articles/main.css' %}">

    {% if title %}
        <title>Articles - {{title}}</title>
    {% else %} 
        <title>Articles</title>
    {%endif%}
    <title>Document</title>
</head>
<body>
    
      <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <div class="container">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item"></li>
                  <a class="nav-link" href="{% url 'articles-all' %}" onclick="highlightNav(this)">ALL</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'articles-home' %}" onclick="highlightNav(this)">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'articles-world' %}" onclick="highlightNav(this)">World </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'articles-politics' %}" onclick="highlightNav(this)">Politics </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'articles-business' %}" onclick="highlightNav(this)">Business </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'articles-science-tech' %}" onclick="highlightNav(this)">Science & Technology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'articles-entertainment' %}" onclick="highlightNav(this)">Entertainment </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'articles-sports' %}" onclick="highlightNav(this)">Sports </a>
                </li>

              </ul>

            </div>

          </div>
        </nav>
      </header>
      <br>
      <br>


      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            <br>
            {% block content %}{% endblock %}
          </div>
          
          </div>
        </div>
      </main>
 

      <script>
        function highlightNav(element) {
            // Remove active class from all nav links
            document.querySelectorAll('.nav-link').forEach(function(link) {
                link.classList.remove('active');
            });

            // Add active class to the clicked nav link
            element.classList.add('active');
        }
    </script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>